{% extends 'base.html.twig' %}



{% block body %}

    <h1>Open Ticket</h1>
    {{ form_start(form) }}
        <div class="form-group">
            
            {{ form_label(form.title) }}
            {{ form_widget(form.title, {'attr': {'class': 'form-control', 'placeholder': 'Enter Title'}}) }}

            {% if form_errors(form.title) %}
                    {{ form_errors(form.title, {'attr': {'class': 'form-control'}}) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.text) }}
            {{ form_widget(form.text, {'attr': {'class': 'form-control ','placeholder': 'Enter description of problem'}}) }}

            {% if form_errors(form.text) %}
                    {{ form_errors(form.text, {'attr': {'class': 'form-control'}}) }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.priority) }}
            <br>
            <div id="inli">
                <div class="d-inline">
                    {% for choice in form.priority %}
                        <div class="form-check form-check-inline">
                            {{ form_widget(choice, {'attr': {'class': 'form-check-input'}}) }}
                            {{ form_label(choice, null, {'label_attr': {'class': 'form-check-label'}}) }}
                        </div>
                    {% endfor %}
                </div>
                <button type="submit" class="btn btn-secondary mb-2">Create</button>
            </div>
        </div>

        
    {{ form_end(form) }}
    <style>
        .form-control:focus {
            border-color: grey;
            box-shadow: inset 0 1px 1px grey, 0 0 8px grey;
        }
        input[type='radio'] {
            accent-color: grey;
        }
        #inli{
            display:flex;
        }
        input[type=''] {
            accent-color: grey;
        }

    </style>
{% endblock %}


