{% extends "base.html.twig" %}
{# {% block bootsrtap %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
{% endblock %} #}

{% block body %}
    
    <h1>New User</h1>

    <div class="container">
        <div class="row">
            <div>
                {{ form_start(form) }}
                
                <div class="form-group">
                    {{ form_label(form.username) }}
                    {{ form_widget(form.username, {'attr': {'class': 'form-control'}}) }}

                    {% if form_errors(form.username) %}
                        {{ form_errors(form.username, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.password) }}
                    {{ form_widget(form.password, {'attr': {'class': 'form-control'}}) }}

                    {% if form_errors(form.password) %}
                        {{ form_errors(form.password, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ form_label(form.email) }}
                    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
                    
                    {% if form_errors(form.email) %}
                        {{ form_errors(form.email, {'attr': {'class': 'form-control'}}) }}
                    {% endif %}
                </div>
                
                <div class="form-group">
                    {{ form_label(form.roles) }}
                    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
                </div>
                
                <button type="submit" class="btn btn-secondary">Create</button>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
    <style>
        .form-control:focus {
            border-color: grey;
            box-shadow: inset 0 1px 1px grey, 0 0 8px grey;
        }
    </style>
{% endblock %}

